<section id="principal-tcc">
  <h1>Terapia Cão Carinho</h1>
  <p>"Acreditamos na força da atividade, terapia e educação assistida por animais,
    já ques estes possuem um amor incondicional e fiel, incapaz de julgar as
    diferenças sociais, de gênero ou raciais"
  </p>
</section>
<section id="quem-somos">
  <h1>Quem somos</h1>
  <p>Entenda como o TCC atua socialmente</p>
</section>
<section id="visitas">
  <h1>Ultima visitas do TCC</h1>
  <p>Acompanhe nossas ultimas visitas</p>
</br>
  <%= link_to "Veja +", "#" %>
</section>
<section id="doacoes">
  <h1>Aceitamos doações para que nosso lindo projeto possa continuar!</h1>
  <p>Ajude-nos a fazer o bem! Doe! Seremos todos muito gratos!!!</p>
  <%= link_to "Contribua com o TCC", "#" %>
</br>
  <p>Voce pode também contribuir com nossas ações pontuais listadas abaixo,
  elas nos ajudam a promover eventos em epocas comemorativas trazendo mais
  alegria para os assistidos em épocas especiais.</p>
</section>
<section id="parceiros">
  <h1>Parceiros</h1>
</section>
